@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow-x: hidden;
    width: 100%;
}

@layer utilities {
    @keyframes shine {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(100%);
        }
    }

    .animate-shine {
        animation: shine 2s infinite;
    }

    @keyframes pulse-horizontal {

        0%,
        100% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(10px);
        }
    }

    .animate-pulse-horizontal {
        animation: pulse-horizontal 1.5s ease-in-out infinite;
    }
}